body{
    height: 100%;
    width: 100%;
    background-color: black !important;
}

/* style the list group */
.list-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    background-color: black;
    border-radius: 0px !important;
}


/* style the card image */
.card-img-top{
    max-height: 250px;
    max-width: 250px;
    padding: 1px;
}

#alert{
    min-width: 200px;
    max-width: 500px;
}