body{
    height: 100%;
    width: 100%;
}

.list-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row !important;
}


.card-img-top{
    max-height: 250px;
    max-width: 250px;
    padding: 1px;
}