<html>
    <head>

        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>

    <body>
        
        <h2 class="muted text-center">Rendered using EJS!</h2>
    </body>
</html>