<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>

        <%- include('_header') %>
        
        <h2>Codeial : <%= title %></h2>

        <%- include('_footer') %>
        
    </body>
</html>