
<link rel="stylesheet" href="/css/signup.css">

<form action="/users/signup" method="POST">
    <input type="email" name="email" placeholder="E-mail" required unique>
    <input type="password" name="password" required placeholder="password">
    <input type="text" name="name" placeholder="Type your name" required>
    <input type="submit">
</form>