<%- include('_header') %>

<h2>Welcome to the profile page!</h2>
<a class="btn btn-primary" href="/users/password/reset">Reset Password</a>
<a class="btn btn-primary" href="/users/sign-out">Sign out</a>

<%- include('_footer') %>