<%- include('_header') %>


    <form action="/users/password/reset" method="POST">
        <input type="password" required placeholder="old password" name="oldPassword">
        <input type="password" required placeholder="new password" name="newPassword">
        <input type="password" required placeholder="confirm new password" name="confirmPassword">
        <button class="btn btn-sm btn-primary">Update password</button>
    </form>


<%- include('_footer') %>