<%- include('_header') %>


    <form action="/users/create" method="POST">
        <input type="email" required placeholder="email" name="email">
        <input type="text" required placeholder="password" name="password">
        <input type="submit">
</form>


<%- include('_footer') %>