<%- include('_header') %>


    <h4>Sign up</h4>
    <form action="/users/create" method="POST">
        <input type="email" required placeholder="email" name="email">
        <input type="text" required placeholder="password" name="password">
        <button class="btn btn-primary">Submit</button>
</form>


<%- include('_footer') %>