
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    
}

.card{

    display: block;
    max-width: 300px;

}

.card-img-top{
    max-height: 300px;
    padding: 5px;
    border-radius: 2px;
}

.list-group{
    margin: 10px;
    display: flex;
}

.list-group li::first-letter {
    text-transform: uppercase;
}