body{
    height: 100%;
    width: 100%;
    background-color: black !important;

}

.search{
    min-width: 200px;
    max-width: 500px;
}

#alert{
    min-width: 200px;
    max-width: 500px;
}


.list-group{
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.list-group li {
    width: fit-content;   
    list-style-type: none; 
}

.card{
    border: 1px solid black;
}
.card-img-top{
    height: 150px;
    width:  150px;
    padding: 1px;
}

.card-body a {
    display: inline-block;
}

.card:hover{
    box-shadow: 0px 0px 5px 1px #ccc;
    transition: 0.2s ease-in-out;
}